{
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "svelteSortOrder" : "scripts-markup-styles",
  "svelteStrictMode": true,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": false,
  "organizeImportsSkipDestructiveCodeActions": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 120,
  "bracketSpacing": true,
  "trailingComma": "all",
  "bracketSameLine": true,
  "arrowParens": "avoid"
}
